.input-wrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding: 1rem 0.75rem 0.5rem;

    font: inherit;

    border: 1px solid;
    border-radius: 8px;

    background: transparent;
}

.input-label {
    position: absolute;
    left: 0.75rem;
    top: 50%;

    transform: translateY(-50%);

    pointer-events: none;

    padding: 0 0.25rem;

    background: white;

    transition: 0.2s ease;
}

.input-error-state {
    border-color: #dc2626;
}

.input-error {
    margin-top: 0.35rem;
    font-size: 0.875rem;
    color: #dc2626;
}


.input:focus + .input-label,
.input:not(:placeholder-shown) + .input-label {
    top: 0;
    transform: translateY(-50%);
    font-size: 0.75rem;
}